<!DOCTYPE html>
<html>
<head>
    <title>WebMailClient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/MailController.js"></script>
</head>
<body>
<div class="container" ng-app="webmail">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">WebMailClient</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul class="nav nav-list">
                    <li ng-class="{'active': 'inbox' == currentPage}">
                        <a ng-click="currentPage = 'inbox'" href="#/show/inbox">Inbox</a>
                    </li>
                    <li ng-class="{'active': 'sent' == currentPage}">
                        <a ng-click="currentPage='sent'" href="#/show/sent">Sent</a>
                    </li>
                    <li ng-class="{'active': 'drafts' == currentPage}">
                        <a ng-click="currentPage='drafts'" href="#/show/drafts">Drafts</a>
                    </li>
                    <li ng-class="{'active': 'trash' == currentPage}">
                        <a ng-click="currentPage='trash'" href="#/show/trash">Trash</a>
                    </li>
                </ul>
            </div>
            <div class="span10" ng-view></div>
        </div>
    </div>
</body>
</html>
