<table class="table" id="mail">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="button" class="btn btn-info" value="Send"/>
                <input type="button" class="btn btn-primary" value="To drafts"/>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="mailLbl">To</td>
            <td class="mailFld"><input type="text" name="to" /></td>
        </tr>
        <tr>
            <td class="mailLbl">Subject</td>
            <td class="mailFld"><input type="text" name="subject" /></td>
        </tr>
        <tr>
            <td colspan="2" class="mailFld">
                <textarea name="mailText" cols="80" rows="10"></textarea>
            </td>
        </tr>
    </tbody>
</table>


